# generated terraform configurations
build/terraform/

# generated github workflows
.github/workflows/

# decrypted + converted secrets and encryption keys
secrets/*.json
secrets/*.cue
secrets/*.txt
!secrets/secrets.cue
!secrets/secrets_tool.cue

# decrypted secrets and encryption keys (kubernetes)
kubernetes/secrets/*.json
kubernetes/secrets/*.txt
!kubernetes/secrets/*.enc.json
