# build directory
build/

# decrypted + converted secrets and encryption keys (terraform)
cloud/secrets/*.json
cloud/secrets/*.cue
cloud/secrets/*.txt
!cloud/secrets/*.enc.json
!cloud/secrets/secrets.cue
!cloud/secrets/secrets_tool.cue

# new secrets folder
secrets/*.json
secrets/*.cue
secrets/*.txt

# decrypted secrets and encryption keys (kubernetes)
kubernetes/secrets/*.json
kubernetes/secrets/*.txt
!kubernetes/secrets/*.enc.json

# bazel-* symlinks
bazel-*

# local
.local/